# 国勢調査から年収の予測 「$50,000を超えるか否か」

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
sample = pd.read_csv("./sample_submit.csv",header=None)
print("Data Shapes")
print("Train:",train.shape, "Test:",test.shape, "Sample:",sample.shape)

Data Shapes
Train: (10200, 13) Test: (6800, 12) Sample: (6800, 2)

### データセットの調査

In [2]:
print(train.isnull().sum())
print()
print(test.isnull().sum())

index             0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
native-country    0
Y                 0
dtype: int64

id                0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
native-country    0
dtype: int64

In [3]:
train

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,0,22,Private,132618,Some-college,12,Never-married,Tech-support,Own-child,White,Female,United-States,0
1,1,22,Private,132655,Bachelors,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,Mexico,1
2,2,23,?,132674,HS-grad,8,Never-married,Other-service,Not-in-family,White,Female,United-States,0
3,3,36,Private,132642,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,United-States,1
4,4,49,Private,132646,Assoc-voc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,10195,31,Private,132650,Bachelors,9,Divorced,Craft-repair,Other-relative,White,Female,Mexico,0
10196,10196,36,Private,132590,HS-grad,9,Married-civ-spouse,Exec-managerial,Unmarried,White,Male,Mexico,0
10197,10197,36,Local-gov,132498,Bachelors,13,Married-civ-spouse,?,Husband,Black,Male,United-States,0
10198,10198,17,Private,132614,Some-college,9,Never-married,?,Not-in-family,White,Female,United-States,0
10199,10199,36,?,132691,Assoc-voc,4,Divorced,Prof-specialty,Husband,Black,Male,United-States,0

### 文字列データを数値に変換

In [4]:
train['workclass_number'] = 0
train['education_number'] = 0
train['marital-status_number']= 0
train['occupation_number'] = 0
train['relationship_number'] = 0
train['race_number'] = 0
train['sex_number'] = 0
train['native-country_number'] = 0

test['workclass_number'] = 0
test['education_number'] = 0
test['marital-status_number']= 0
test['occupation_number'] = 0
test['relationship_number'] = 0
test['race_number'] = 0
test['sex_number'] = 0
test['native-country_number'] = 0

train.head()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,...,native-country,Y,workclass_number,education_number,marital-status_number,occupation_number,relationship_number,race_number,sex_number,native-country_number
0,0,22,Private,132618,Some-college,12,Never-married,Tech-support,Own-child,White,...,United-States,0,0,0,0,0,0,0,0,0
1,1,22,Private,132655,Bachelors,9,Married-civ-spouse,Farming-fishing,Husband,White,...,Mexico,1,0,0,0,0,0,0,0,0
2,2,23,?,132674,HS-grad,8,Never-married,Other-service,Not-in-family,White,...,United-States,0,0,0,0,0,0,0,0,0
3,3,36,Private,132642,Bachelors,13,Married-civ-spouse,Sales,Husband,White,...,United-States,1,0,0,0,0,0,0,0,0
4,4,49,Private,132646,Assoc-voc,13,Married-civ-spouse,Exec-managerial,Husband,White,...,United-States,1,0,0,0,0,0,0,0,0

In [5]:
u = train["workclass"].unique()
print(u)
print(type(u))

['Private' '?' 'Local-gov' 'Self-emp-inc' 'Federal-gov' 'Self-emp-not-inc'
 'State-gov']
<class 'numpy.ndarray'>

In [6]:
train.loc[train["workclass"] == "Private","workclass_number"] = 1
train.loc[train["workclass"] == "Local-gov","workclass_number"] = 2
train.loc[train["workclass"] == "Self-emp-inc","workclass_number"] = 3
train.loc[train["workclass"] == "Federal-gov","workclass_number"] = 4
train.loc[train["workclass"] == "Self-emp-not-inc","workclass_number"] = 5
train.loc[train["workclass"] == "State-gov","workclass_number"] = 6

test.loc[train["workclass"] == "Private","workclass_number"] = 1
test.loc[train["workclass"] == "Local-gov","workclass_number"] = 2
test.loc[train["workclass"] == "Self-emp-inc","workclass_number"] = 3
test.loc[train["workclass"] == "Federal-gov","workclass_number"] = 4
test.loc[train["workclass"] == "Self-emp-not-inc","workclass_number"] = 5
test.loc[train["workclass"] == "State-gov","workclass_number"] = 6

In [7]:
u = train["education"].unique()
print(u)
print(type(u))

['Some-college' 'Bachelors' 'HS-grad' 'Assoc-voc' '12th' '10th' 'Masters'
 '5th-6th' 'Assoc-acdm' 'Prof-school' '7th-8th' '11th' '9th' '1st-4th']
<class 'numpy.ndarray'>

In [8]:
train.loc[train["education"] == "Some-college","education_number"] = 1
train.loc[train["education"] == "Bachelors","education_number"] = 2
train.loc[train["education"] == "HS-grad","education_number"] = 3
train.loc[train["education"] == "Assoc-voc","education_number"] = 4
train.loc[train["education"] == "12th","education_number"] = 5
train.loc[train["education"] == "10th","education_number"] = 6
train.loc[train["education"] == "Masters","education_number"] = 7
train.loc[train["education"] == "5th-6th","education_number"] = 8
train.loc[train["education"] == "Assoc-acdm","education_number"] = 9
train.loc[train["education"] == "Prof-school","education_number"] = 10
train.loc[train["education"] == "7th-8th","education_number"] = 11
train.loc[train["education"] == "11th","education_number"] = 12
train.loc[train["education"] == "9th","education_number"] = 13
train.loc[train["education"] == "1st-4th","education_number"] = 14

test.loc[train["education"] == "Some-college","education_number"] = 1
test.loc[train["education"] == "Bachelors","education_number"] = 2
test.loc[train["education"] == "HS-grad","education_number"] = 3
test.loc[train["education"] == "Assoc-voc","education_number"] = 4
test.loc[train["education"] == "12th","education_number"] = 5
test.loc[train["education"] == "10th","education_number"] = 6
test.loc[train["education"] == "Masters","education_number"] = 7
test.loc[train["education"] == "5th-6th","education_number"] = 8
test.loc[train["education"] == "Assoc-acdm","education_number"] = 9
test.loc[train["education"] == "Prof-school","education_number"] = 10
test.loc[train["education"] == "7th-8th","education_number"] = 11
test.loc[train["education"] == "11th","education_number"] = 12
test.loc[train["education"] == "9th","education_number"] = 13
test.loc[train["education"] == "1st-4th","education_number"] = 14

In [9]:
u = train["marital-status"].unique()
print(u)
print(type(u))

['Never-married' 'Married-civ-spouse' 'Divorced' 'Separated' 'Widowed']
<class 'numpy.ndarray'>

In [10]:
train.loc[train["marital-status"] == "Never-married","marital-status_number"] = 1
train.loc[train["marital-status"] == "Married-civ-spouse","marital-status_number"] = 2
train.loc[train["marital-status"] == "Divorced","marital-status_number"] = 3
train.loc[train["marital-status"] == "Separated","marital-status_number"] = 4
train.loc[train["marital-status"] == "Widowed","marital-status_number"] = 5

test.loc[train["marital-status"] == "Never-married","marital-status_number"] = 1
test.loc[train["marital-status"] == "Married-civ-spouse","marital-status_number"] = 2
test.loc[train["marital-status"] == "Divorced","marital-status_number"] = 3
test.loc[train["marital-status"] == "Separated","marital-status_number"] = 4
test.loc[train["marital-status"] == "Widowed","marital-status_number"] = 5

In [11]:
u = train["occupation"].unique()
print(u)
print(type(u))

['Tech-support' 'Farming-fishing' 'Other-service' 'Sales'
 'Exec-managerial' 'Protective-serv' 'Adm-clerical' 'Prof-specialty'
 'Handlers-cleaners' 'Craft-repair' '?' 'Machine-op-inspct'
 'Transport-moving']
<class 'numpy.ndarray'>

In [12]:
train.loc[train["occupation"] == "Tech-support","occupation_number"] = 1
train.loc[train["occupation"] == "Farming-fishing","occupation_number"] = 2
train.loc[train["occupation"] == "Other-service","occupation_number"] = 3
train.loc[train["occupation"] == "Sales","occupation_number"] = 4
train.loc[train["occupation"] == "Exec-managerial","occupation_number"] = 5
train.loc[train["occupation"] == "Protective-serv","occupation_number"] = 6
train.loc[train["occupation"] == "Adm-clerical","occupation_number"] = 7
train.loc[train["occupation"] == "Prof-specialty","occupation_number"] = 8
train.loc[train["occupation"] == "Handlers-cleaners","occupation_number"] = 9
train.loc[train["occupation"] == "Craft-repair","occupation_number"] = 10
train.loc[train["occupation"] == "Machine-op-inspct","occupation_number"] = 11
train.loc[train["occupation"] == "Transport-moving","occupation_number"] = 12

test.loc[train["occupation"] == "Tech-support","occupation_number"] = 1
test.loc[train["occupation"] == "Farming-fishing","occupation_number"] = 2
test.loc[train["occupation"] == "Other-service","occupation_number"] = 3
test.loc[train["occupation"] == "Salese","occupation_number"] = 4
test.loc[train["occupation"] == "Exec-managerial","occupation_number"] = 5
test.loc[train["occupation"] == "Protective-serv","occupation_number"] = 6
test.loc[train["occupation"] == "Adm-clerical","occupation_number"] = 7
test.loc[train["occupation"] == "Prof-specialty","occupation_number"] = 8
test.loc[train["occupation"] == "Handlers-cleaners","occupation_number"] = 9
test.loc[train["occupation"] == "Craft-repair","occupation_number"] = 10
test.loc[train["occupation"] == "Machine-op-inspct","occupation_number"] = 11
test.loc[train["occupation"] == "Transport-moving","occupation_number"] = 12

In [13]:
u = train["relationship"].unique()
print(u)
print(type(u))

['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
<class 'numpy.ndarray'>

In [14]:
train.loc[train["relationship"] == "Own-child","relationship_number"] = 1
train.loc[train["relationship"] == "Husband","relationship_number"] = 2
train.loc[train["relationship"] == "Not-in-family","relationship_number"] = 3
train.loc[train["relationship"] == "Unmarried","relationship_number"] = 4
train.loc[train["relationship"] == "Wife","relationship_number"] = 5
train.loc[train["relationship"] == "Other-relative","relationship_number"] = 6

test.loc[train["relationship"] == "Own-child","relationship_number"] = 1
test.loc[train["relationship"] == "Husband","relationship_number"] = 2
test.loc[train["relationship"] == "Not-in-family","relationship_number"] = 3
test.loc[train["relationship"] == "Unmarried","relationship_number"] = 4
test.loc[train["relationship"] == "Wife","relationship_number"] = 5
test.loc[train["relationship"] == "Other-relative","relationship_number"] = 6

In [15]:
u = train["race"].unique()
print(u)
print(type(u))

['White' 'Asian-Pac-Islander' 'Black']
<class 'numpy.ndarray'>

In [16]:
train.loc[train["race"] == "White","race_number"] = 1
train.loc[train["race"] == "Asian-Pac-Islander","race_number"] = 2
train.loc[train["race"] == "Black","race_number"] = 3

test.loc[train["race"] == "White","race_number"] = 1
test.loc[train["race"] == "Asian-Pac-Islander","race_number"] = 2
test.loc[train["race"] == "Black","race_number"] = 3

In [17]:
u = train["sex"].unique()
print(u)
print(type(u))

['Female' 'Male']
<class 'numpy.ndarray'>

In [18]:
train.loc[train["sex"] == "Female","sex_number"] = 1
train.loc[train["sex"] == "Male","sex_number"] = 2

test.loc[train["sex"] == "Female","sex_number"] = 1
test.loc[train["sex"] == "Male","sex_number"] = 2

In [19]:
u = train["native-country"].unique()
print(u)
print(type(u))

['United-States' 'Mexico' 'Philippines']
<class 'numpy.ndarray'>

In [20]:
train.loc[train["native-country"] == "United-States","native-country_number"] = 1
train.loc[train["native-country"] == "Mexico","native-country_number"] = 2
train.loc[train["native-country"] == "Philippines","native-country_number"] = 3

test.loc[train["native-country"] == "United-States","native-country_number"] = 1
test.loc[train["native-country"] == "Mexico","native-country_number"] = 2
test.loc[train["native-country"] == "Philippines","native-country_number"] = 3

train

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,...,native-country,Y,workclass_number,education_number,marital-status_number,occupation_number,relationship_number,race_number,sex_number,native-country_number
0,0,22,Private,132618,Some-college,12,Never-married,Tech-support,Own-child,White,...,United-States,0,1,1,1,1,1,1,1,1
1,1,22,Private,132655,Bachelors,9,Married-civ-spouse,Farming-fishing,Husband,White,...,Mexico,1,1,2,2,2,2,1,2,2
2,2,23,?,132674,HS-grad,8,Never-married,Other-service,Not-in-family,White,...,United-States,0,0,3,1,3,3,1,1,1
3,3,36,Private,132642,Bachelors,13,Married-civ-spouse,Sales,Husband,White,...,United-States,1,1,2,2,4,2,1,2,1
4,4,49,Private,132646,Assoc-voc,13,Married-civ-spouse,Exec-managerial,Husband,White,...,United-States,1,1,4,2,5,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,10195,31,Private,132650,Bachelors,9,Divorced,Craft-repair,Other-relative,White,...,Mexico,0,1,2,3,10,6,1,1,2
10196,10196,36,Private,132590,HS-grad,9,Married-civ-spouse,Exec-managerial,Unmarried,White,...,Mexico,0,1,3,2,5,4,1,2,2
10197,10197,36,Local-gov,132498,Bachelors,13,Married-civ-spouse,?,Husband,Black,...,United-States,0,2,2,2,0,2,3,2,1
10198,10198,17,Private,132614,Some-college,9,Never-married,?,Not-in-family,White,...,United-States,0,1,1,1,0,3,1,1,1
10199,10199,36,?,132691,Assoc-voc,4,Divorced,Prof-specialty,Husband,Black,...,United-States,0,0,4,3,8,2,3,2,1

### 不要列データの削除

In [21]:
train = train.drop(columns=["workclass","education","marital-status","occupation","relationship","race","sex","native-country"])
test = test.drop(columns=["workclass","education","marital-status","occupation","relationship","race","sex","native-country"])
train.head()

,index,age,fnlwgt,education-num,Y,workclass_number,education_number,marital-status_number,occupation_number,relationship_number,race_number,sex_number,native-country_number
0,0,22,132618,12,0,1,1,1,1,1,1,1,1
1,1,22,132655,9,1,1,2,2,2,2,1,2,2
2,2,23,132674,8,0,0,3,1,3,3,1,1,1
3,3,36,132642,13,1,1,2,2,4,2,1,2,1
4,4,49,132646,13,1,1,4,2,5,2,1,2,1

In [22]:
test.head()

,id,age,fnlwgt,education-num,workclass_number,education_number,marital-status_number,occupation_number,relationship_number,race_number,sex_number,native-country_number
0,10200,30,132646,12,1,1,1,1,1,1,1,1
1,10201,30,132626,4,1,2,2,2,2,1,2,2
2,10202,36,132505,8,0,3,1,3,3,1,1,1
3,10203,23,132610,9,1,2,2,0,2,1,2,1
4,10204,36,132468,9,1,4,2,5,2,1,2,1

### 目的変数の抽出

In [23]:
y = train["Y"]
print(y)

0        0
1        1
2        0
3        1
4        1
        ..
10195    0
10196    0
10197    0
10198    0
10199    0
Name: Y, Length: 10200, dtype: int64

In [24]:
train = train.drop(columns=["Y"])
train.head()

,index,age,fnlwgt,education-num,workclass_number,education_number,marital-status_number,occupation_number,relationship_number,race_number,sex_number,native-country_number
0,0,22,132618,12,1,1,1,1,1,1,1,1
1,1,22,132655,9,1,2,2,2,2,1,2,2
2,2,23,132674,8,0,3,1,3,3,1,1,1
3,3,36,132642,13,1,2,2,4,2,1,2,1
4,4,49,132646,13,1,4,2,5,2,1,2,1

In [25]:
train_data = train.values
train_labels = y
test_data = test.values

### 正規化

In [26]:
mean = train_data.mean(axis=0)
std = train_data.std(axis=0)
train_data = (train_data - mean) / std
test_data = (test_data - mean) / std

### モデルの構築

In [27]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(train_data.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam', 
              loss='mse', 
              metrics=['mae'])

Using TensorFlow backend.

In [28]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                832
_________________________________________________________________
dense_2 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 65
=================================================================
Total params: 5,057
Trainable params: 5,057
Non-trainable params: 0
_________________________________________________________________

### 学習

In [29]:
history = model.fit(train_data, 
                    train_labels,
                    batch_size=128,
                    epochs=200,
                    verbose=1)

Epoch 1/200
10200/10200 [==============================] - 1s 75us/step - loss: 0.1467 - mae: 0.2868
Epoch 2/200
10200/10200 [==============================] - 0s 29us/step - loss: 0.1067 - mae: 0.2342
Epoch 3/200
10200/10200 [==============================] - 0s 20us/step - loss: 0.1015 - mae: 0.2248
Epoch 4/200
10200/10200 [==============================] - 0s 17us/step - loss: 0.0978 - mae: 0.2184
Epoch 5/200
10200/10200 [==============================] - 0s 15us/step - loss: 0.0947 - mae: 0.2121
Epoch 6/200
10200/10200 [==============================] - 0s 14us/step - loss: 0.0929 - mae: 0.2092
Epoch 7/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0906 - mae: 0.2024
Epoch 8/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0895 - mae: 0.2020
Epoch 9/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0894 - mae: 0.2015
Epoch 10/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0878 - mae: 0.1983
Epoch 11/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0869 - mae: 0.1943
Epoch 12/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0856 - mae: 0.1925
Epoch 13/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0852 - mae: 0.1919
Epoch 14/200
10200/10200 [==============================] - 0s 14us/step - loss: 0.0846 - mae: 0.1908
Epoch 15/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0834 - mae: 0.1887
Epoch 16/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0831 - mae: 0.1880
Epoch 17/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0826 - mae: 0.1869
Epoch 18/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0828 - mae: 0.1886
Epoch 19/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0817 - mae: 0.1861
Epoch 20/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0816 - mae: 0.1872
Epoch 21/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0807 - mae: 0.1841
Epoch 22/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0806 - mae: 0.1839
Epoch 23/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0801 - mae: 0.1825
Epoch 24/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0802 - mae: 0.1825
Epoch 25/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0800 - mae: 0.1839
Epoch 26/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0797 - mae: 0.1833
Epoch 27/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0789 - mae: 0.1805
Epoch 28/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0782 - mae: 0.1798
Epoch 29/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0776 - mae: 0.1787
Epoch 30/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0777 - mae: 0.1802
Epoch 31/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0780 - mae: 0.1803
Epoch 32/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0777 - mae: 0.1798
Epoch 33/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0771 - mae: 0.1794
Epoch 34/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0771 - mae: 0.1781
Epoch 35/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0766 - mae: 0.1784
Epoch 36/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0757 - mae: 0.1768
Epoch 37/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0762 - mae: 0.1762
Epoch 38/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0756 - mae: 0.1776
Epoch 39/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0760 - mae: 0.1770
Epoch 40/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0745 - mae: 0.1740
Epoch 41/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0753 - mae: 0.1763
Epoch 42/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0744 - mae: 0.1747
Epoch 43/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0745 - mae: 0.1745
Epoch 44/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0749 - mae: 0.1758
Epoch 45/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0740 - mae: 0.1728
Epoch 46/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0747 - mae: 0.1759
Epoch 47/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0738 - mae: 0.1741
Epoch 48/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0738 - mae: 0.1756
Epoch 49/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0730 - mae: 0.1728
Epoch 50/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0736 - mae: 0.1738
Epoch 51/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0742 - mae: 0.1754
Epoch 52/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0733 - mae: 0.1746
Epoch 53/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0724 - mae: 0.1721
Epoch 54/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0722 - mae: 0.1716
Epoch 55/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0721 - mae: 0.1707
Epoch 56/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0716 - mae: 0.1714
Epoch 57/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0717 - mae: 0.1708
Epoch 58/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0724 - mae: 0.1726
Epoch 59/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0713 - mae: 0.1699
Epoch 60/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0714 - mae: 0.1706
Epoch 61/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0711 - mae: 0.1704
Epoch 62/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0710 - mae: 0.1695
Epoch 63/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0703 - mae: 0.1685
Epoch 64/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0705 - mae: 0.1687
Epoch 65/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0702 - mae: 0.1691
Epoch 66/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0694 - mae: 0.1665
Epoch 67/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0707 - mae: 0.1727
Epoch 68/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0694 - mae: 0.1668
Epoch 69/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0700 - mae: 0.1682
Epoch 70/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0690 - mae: 0.1665
Epoch 71/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0708 - mae: 0.1715
Epoch 72/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0697 - mae: 0.1688
Epoch 73/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0689 - mae: 0.1669
Epoch 74/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0690 - mae: 0.1678
Epoch 75/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0687 - mae: 0.1676
Epoch 76/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0679 - mae: 0.1655
Epoch 77/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0677 - mae: 0.1659
Epoch 78/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0687 - mae: 0.1667
Epoch 79/200
10200/10200 [==============================] - 0s 14us/step - loss: 0.0679 - mae: 0.1663
Epoch 80/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0674 - mae: 0.1650
Epoch 81/200

10200/10200 [==============================] - 0s 12us/step - loss: 0.0686 - mae: 0.1682
Epoch 82/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0677 - mae: 0.1651
Epoch 83/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0676 - mae: 0.1675
Epoch 84/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0669 - mae: 0.1653
Epoch 85/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0676 - mae: 0.1655
Epoch 86/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0665 - mae: 0.1639
Epoch 87/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0667 - mae: 0.1636
Epoch 88/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0666 - mae: 0.1648
Epoch 89/200
10200/10200 [==============================] - 0s 14us/step - loss: 0.0664 - mae: 0.1645
Epoch 90/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0672 - mae: 0.1666
Epoch 91/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0665 - mae: 0.1654
Epoch 92/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0662 - mae: 0.1638
Epoch 93/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0661 - mae: 0.1640
Epoch 94/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0660 - mae: 0.1643
Epoch 95/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0656 - mae: 0.1643
Epoch 96/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0656 - mae: 0.1639
Epoch 97/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0657 - mae: 0.1652
Epoch 98/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0658 - mae: 0.1649
Epoch 99/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0649 - mae: 0.1633
Epoch 100/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0652 - mae: 0.1633
Epoch 101/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0648 - mae: 0.1638
Epoch 102/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0645 - mae: 0.1624
Epoch 103/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0646 - mae: 0.1630
Epoch 104/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0646 - mae: 0.1634
Epoch 105/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0657 - mae: 0.1637
Epoch 106/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0638 - mae: 0.1617
Epoch 107/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0637 - mae: 0.1611
Epoch 108/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0643 - mae: 0.1633
Epoch 109/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0642 - mae: 0.1608
Epoch 110/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0641 - mae: 0.1630
Epoch 111/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0639 - mae: 0.1642
Epoch 112/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0638 - mae: 0.1627
Epoch 113/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0638 - mae: 0.1632
Epoch 114/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0642 - mae: 0.1636
Epoch 115/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0637 - mae: 0.1624
Epoch 116/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0636 - mae: 0.1625
Epoch 117/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0635 - mae: 0.1631
Epoch 118/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0626 - mae: 0.1600
Epoch 119/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0627 - mae: 0.1603
Epoch 120/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0633 - mae: 0.1624
Epoch 121/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0637 - mae: 0.1636
Epoch 122/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0630 - mae: 0.1619
Epoch 123/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0626 - mae: 0.1607
Epoch 124/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0624 - mae: 0.1619
Epoch 125/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0625 - mae: 0.1602
Epoch 126/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0618 - mae: 0.1601
Epoch 127/200
10200/10200 [==============================] - 0s 14us/step - loss: 0.0616 - mae: 0.1592
Epoch 128/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0620 - mae: 0.1603
Epoch 129/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0624 - mae: 0.1613
Epoch 130/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0615 - mae: 0.1592
Epoch 131/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0624 - mae: 0.1613
Epoch 132/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0626 - mae: 0.1620
Epoch 133/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0615 - mae: 0.1594
Epoch 134/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0613 - mae: 0.1590
Epoch 135/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0616 - mae: 0.1597
Epoch 136/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0619 - mae: 0.1610
Epoch 137/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0614 - mae: 0.1601
Epoch 138/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0611 - mae: 0.1598
Epoch 139/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0612 - mae: 0.1607
Epoch 140/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0619 - mae: 0.1627
Epoch 141/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0616 - mae: 0.1615
Epoch 142/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0606 - mae: 0.1581
Epoch 143/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0610 - mae: 0.1608
Epoch 144/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0610 - mae: 0.1589
Epoch 145/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0603 - mae: 0.1578
Epoch 146/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0603 - mae: 0.1578
Epoch 147/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0602 - mae: 0.1579
Epoch 148/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0603 - mae: 0.1583
Epoch 149/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0606 - mae: 0.1595
Epoch 150/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0606 - mae: 0.1601
Epoch 151/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0606 - mae: 0.1596
Epoch 152/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0601 - mae: 0.1589
Epoch 153/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0595 - mae: 0.1578
Epoch 154/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0598 - mae: 0.1574
Epoch 155/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0599 - mae: 0.1582
Epoch 156/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0602 - mae: 0.1583
Epoch 157/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0595 - mae: 0.1570
Epoch 158/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0593 - mae: 0.1572
Epoch 159/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0593 - mae: 0.1572
Epoch 160/200

10200/10200 [==============================] - 0s 12us/step - loss: 0.0594 - mae: 0.1575
Epoch 161/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0599 - mae: 0.1594
Epoch 162/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0600 - mae: 0.1584
Epoch 163/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0591 - mae: 0.1561
Epoch 164/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0592 - mae: 0.1568
Epoch 165/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0590 - mae: 0.1569
Epoch 166/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0591 - mae: 0.1567
Epoch 167/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0583 - mae: 0.1552
Epoch 168/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0591 - mae: 0.1571
Epoch 169/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0600 - mae: 0.1591
Epoch 170/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0588 - mae: 0.1573
Epoch 171/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0587 - mae: 0.1572
Epoch 172/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0596 - mae: 0.1601
Epoch 173/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0583 - mae: 0.1562
Epoch 174/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0584 - mae: 0.1566
Epoch 175/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0579 - mae: 0.1564
Epoch 176/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0595 - mae: 0.1593
Epoch 177/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0587 - mae: 0.1578
Epoch 178/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0595 - mae: 0.1578
Epoch 179/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0587 - mae: 0.1574
Epoch 180/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0577 - mae: 0.1552
Epoch 181/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0579 - mae: 0.1555
Epoch 182/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0590 - mae: 0.1591
Epoch 183/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0579 - mae: 0.1557
Epoch 184/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0577 - mae: 0.1553
Epoch 185/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0573 - mae: 0.1542
Epoch 186/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0575 - mae: 0.1548
Epoch 187/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0576 - mae: 0.1548
Epoch 188/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0578 - mae: 0.1565
Epoch 189/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0588 - mae: 0.1588
Epoch 190/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0579 - mae: 0.1560
Epoch 191/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0575 - mae: 0.1551
Epoch 192/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0572 - mae: 0.1550
Epoch 193/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0573 - mae: 0.1562
Epoch 194/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0570 - mae: 0.1539
Epoch 195/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0568 - mae: 0.1543
Epoch 196/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0571 - mae: 0.1553
Epoch 197/200
10200/10200 [==============================] - 0s 13us/step - loss: 0.0586 - mae: 0.1589
Epoch 198/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0577 - mae: 0.1547
Epoch 199/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0566 - mae: 0.1546
Epoch 200/200
10200/10200 [==============================] - 0s 12us/step - loss: 0.0573 - mae: 0.1549

In [30]:
score = model.evaluate(train_data, train_labels, verbose=2)
print()
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: 0.054841996600084444
Test accuracy: 0.15149003267288208

### 予測

In [31]:
test_predictions = model.predict(test_data)

In [32]:
print(test_predictions.shape)

(6800, 1)

In [33]:
l =np.zeros(len(test_predictions),dtype=np.int64)
idx = 0
for t in test_predictions:
    if t > 0.4:
        l[idx] = 1
    else:
        l[idx] = 0
    idx += 1

In [34]:
sample[1] =l
sample

          0  1
0     10200  0
1     10201  0
2     10202  0
3     10203  0
4     10204  1
...     ... ..
6795  16995  0
6796  16996  0
6797  16997  1
6798  16998  0
6799  16999  0

[6800 rows x 2 columns]

### ファイル出力

In [35]:
import csv
f = open('out.csv','w',newline='')
writer = csv.writer(f)
writer.writerows(sample.values)
f.close()

In [206]:
model.save('beginner_model')